{% extends "layout.html" %}
{% block content %}
    <div class="container">
        {% if current_user.is_authenticated %}
            {% if permissions.UserPermission().check() %}
                {% if streams %}
                    <div class="card-deck">
                        {% for stream in streams %}
                            <div class="card streamer" style="width: 10rem; min-width: 10rem;">
                                <a href="{{ url_for('public.stream', username=stream.user.get_name) }}"><img
                                        class="rounded-circle mx-auto d-block"
                                        src="{{ stream.user.avatarfull }}"
                                        class="card-img-top"
                                        alt="{{ stream.user.get_name }}"></a>
                                <div class="card-body text-center">
                                    <h5 class="card-title"><a class="no-underline"
                                                              href="{{ url_for('public.stream', username=stream.user.get_name) }}">{{ stream.user.get_name }}</a>
                                    </h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h1 class="text-center">There are no active streams.</h1>
                {% endif %}
            {% else %}
                <h1 class="text-center">Enter Invitation Code</h1>
                <form action="{{ url_for('invite.redeem') }}" method="post">
                    {{ form.csrf_token }}
                    <div class="input-group mb-3">
                        <input id="code" name="code" type="text" class="form-control"
                               placeholder="Redeem Code"
                               aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Redeem</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        {% else %}
            <h1 class="text-center"><a href="{{ url_for('social.auth', backend='steam') }}">Please login.</a></h1>
        {% endif %}
    </div>
{% endblock %}
