{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Friend Codes</h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Expiration</th>
                <th scope="col">Used by</th>
                <th scope="col">Used</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for invite in invitations %}
                <tr class="table-{{ invite.status() }}">
                    <td>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                {% if invite.invitee_id %}
                                    <i class="fas fa-check-circle text-success" title="Used"></i>
                                {% else %}
                                    {% if invite.valid() %}
                                        <i class="fas fa-info-circle text-primary" title="Unused"></i>
                                    {% else %}
                                        <i class="fas fa-exclamation-triangle text-danger" title="Expired"></i>
                                    {% endif %}
                                {% endif %}
                                </span>
                            </div>
                            <input id="invite-code-{{ invite.id }}" type="text" class="form-control"
                                   value="{{ invite.code }}" readonly>
                            {% if invite.valid() %}
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-copy"
                                            onclick="copyKey({{ invite.id }})">Copy to clipboard
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </td>
                    {% if invite.invitee_id %}
                        <td></td>
                        <td>{{ invite.invitee.get_name }}</td>
                        <td>{{ moment(invite.used_on).fromTime(now) }}</td>
                    {% else %}
                        <td colspan="3">{{ moment(invite.expires).fromTime(now) }}</td>
                    {% endif %}
                    {% if invite.valid() %}
                        <td><a href="{{ url_for('invite.invalidate', invitation_id=invite.id) }}"><i class="fas fa-2x fa-times-circle text-danger"></i></a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('invite.create') }}" method="post">
            {{ form.csrf_token }}
            <div class="text-right">
                <div class="input-group">
                    {{ form.expires(class_='custom-select') }}
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Generate code</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script>
      function copyKey(id) {
        var copyKey = document.getElementById('invite-code-' + id);
        copyKey.select();
        document.execCommand('copy');
      }
    </script>
{% endblock %}
