<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('public.home') }}"><span style="color: Dodgerblue;"><i
            class="fas fa-chess-knight fa-2x"></i></span></a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-end">
            {% if current_user.is_authenticated %}
                {% if permissions.UserPermission().check() %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('public.home') }}">Stream List<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('invite.manage') }}">Invite Friends</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('public.settings') }}">Settings</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('public.home') }}">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('public.logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('social.auth', backend='steam') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
